.left-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-info-col {
  display: flex;
  font-family: sans-serif;
}

.right-info-col h5 {
  color: lightgray;
}

.right-info-col p {
  display: flex;
  justify-content: center;
  text-align: left
}
